[Desktop Entry]
Type=Application
Name=Instaloader 
Categories=X-XFCE;X-Xfce-Toplevel;
Exec=/opt/OSINT-Scripts/instaloader.sh
Icon=/usr/share/OSINT-Icons/instaloader.png
Terminal=false
